html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  background: url(/public/images/background.jpeg) no-repeat center center fixed;
  background-size: cover
}

#image {
  height: 45%;
  margin: auto;
  position: fixed;
  bottom: 10%;
  left: 10%;
  animation-name: mealLeftToRight;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes mealLeftToRight {
  from {
    left: -40%;
    transform: scale(0.6, 0.6);
  }
  to {
    left: 10%;
    transform: scale(1, 1);
  }
}

@keyframes mealRightToLeft {
  from {
    left: 10%;
    transform: scale(1, 1);
  }
  to {
    left: -40%;
    transform: scale(0.6, 0.6);
  }
}

#name {
  position: absolute;
  top: 12.5%;
  width: 100%;
  text-align: center;
  font-size: 9rem;
  color: #fff;
  font-weight: 100;
  color: #EE1D23;
  animation-name: nameFadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  font-family: 'Dosis', sans-serif;
}

@keyframes nameFadeIn {
  from {
    opacity: 0;
    margin-top: -50px;
    font-size: 8.5rem;
  }
  to {
    opacity: 1;
    margin-top: 0px;
    font-size: 9rem;
  }
}

@keyframes nameFadeOut {
  from {
    opacity: 1;
    margin-top: 0px;
    font-size: 9rem;
  }
  to {
    opacity: 0;
    margin-top: -50px;
    font-size: 8.5rem;
  }
}

#price {
  position: fixed;
  right: 20%;
  bottom: 25%;
  color: #EE1D23;
  animation-name: fadeInPrice;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
}

#price span:nth-child(1) {
  font-size: 7rem;
  position: relative;
  top: -0.5rem;
  right: 0.5rem;
}

#price span:nth-child(2) {
  font-size: 9.5rem;
}

#price span:nth-child(3) {
  font-size: 6.5rem;
}

@keyframes fadeInPrice {
  from {
    opacity: 0;
    transform: scale(0.85, 0.85);
  }
  to {
    opacity: 1;
    transform: scale(1,1);
  }
}

@keyframes fadeOutPrice {
  from {
    opacity: 1;
    transform: scale(1,1);
  }
  to {
    opacity: 0;
    transform: scale(0.85, 0.85);
  }
}
