html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  background: url(/public/images/background.jpeg) no-repeat center center fixed;
  background-size: cover
}

#image {
  height: 45%;
  margin: auto;
  position: fixed;
  bottom: 10%;
  left: 10%;
  animation-name: mealLeftToRight;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes mealLeftToRight {
  from {
    left: -40%;
    transform: scale(0.6, 0.6);
  }
  to {
    left: 10%;
    transform: scale(1, 1);
  }
}

@keyframes mealRightToLeft {
  from {
    left: 10%;
    transform: scale(1, 1);
  }
  to {
    left: -40%;
    transform: scale(0.6, 0.6);
  }
}

#name {
  position: absolute;
  top: 12.5%;
  width: 100%;
  text-align: center;
  font-size: 9rem;
  color: #fff;
  font-weight: 100;
  color: #EE1D23;
  animation-name: nameFadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes nameFadeIn {
  from {
    opacity: 0;
    margin-top: -50px;
    font-size: 8.5rem;
  }
  to {
    opacity: 1;
    margin-top: 0px;
    font-size: 9rem;
  }
}

@keyframes nameFadeOut {
  from {
    opacity: 1;
    margin-top: 0px;
    font-size: 9rem;
  }
  to {
    opacity: 0;
    margin-top: -50px;
    font-size: 8.5rem;
  }
}

#price {
  position: fixed;
  right: 20%;
  bottom: 25%;
  color: #EE1D23;
  font-size: 8rem
}
